<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%=@managed_stage.title%></h1>
<h2><%="#{@managed_stage.start} - #{@managed_stage.end}"%></h2>

<b>Ateliers:</b>
<% @managed_stage.ateliers.each do |atelier| %>
<ul>
	<li><%= atelier.title %></li>
</ul>
<% end %>




