<%= currently_at 'Inscriptions' %>

<% content_for :title do %>
  Adh&eacute;rents
<% end %>

<section id="listing">

	<div id="search-form">
		<input id="search-field" type="text" autofocus placeholder="Recherche"/>
	</div> 
	<br/>

	<%= table_for_adherents(@adherents) %>

	<br />

	<%= link_to "Nouvel adherent", new_adherent_path %>

</section>
	
<section id="details">
	<div id="adherent_details"></div> 
</section>
