<h1>Edit inscription</h1>
<h2><%= "#{@inscription.adherent.nom} #{@inscription.adherent.prenom} - #{@inscription.stage.title}" %></h2>

<%= render 'form' %>

<%= link_to 'Show', @inscription %> |
<%= link_to 'Back', inscriptions_path %>
