/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require scaffolds
 *= require layout
 *= require navigation
 *= require_self
 *= require_tree .
 */

table {
    border-collapse: collapse;
}

table tr td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
}

.list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 5px;
    padding-right: 5px;
}

.list_line_even {
    background:   #cec;
}
.list_line_odd {
    background:   #eee;
}


fieldset {
		background: #efe;
		
		legend {
				color: #dfd;
				background: #141;
				font-family: sans-serif;
				padding: 0.2em 1em;
		}
}

.app_form {
		fieldset {
				background: #efe;
				
				legend {
						color: #dfd;
						background: #141;
						font-family: sans-serif;
						padding: 0.2em 1em;
				}
		}
}
